/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/



#count {
  padding-left: 1170px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.user-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: .25rem;
  margin-top: 1rem;
  max-height: 100vh;
  overflow-y: scroll;
}

.user-cards::-webkit-scrollbar {
  width: 10px;
}

.user-cards::-webkit-scrollbar-track {
  background: transparent;
}

.user-cards::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 25px;
}

.user-cards::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 110px;
}

.card > .header {
  margin-bottom: .25rem;
  font-weight: bold;
}

.card > .body {
  font-size: .9rem;
  color:darkgreen;
  font-weight:bolder;
}

.hide {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 375px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search:hover input {
  width: 250px;
}

.search input { 
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.search a .fa-solid {
  color: #000;
  font-size: 18px;
}

button {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
  border-radius: 10px;
  width: 200px;
  font-size:large;
  font-weight:bold;
  margin: 15px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: lightgray;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.button-container1 {
  display: flex;
  flex-direction: column;
}

.button-container2 {
  display: flex;
  flex-direction: column;
}

@media (min-width:500px) {
  .button-container1 {
    padding-right: 100px;
  }
  .button-container2 {
    padding-left: 100px;
  }
  .main-container {
    display: flex;
    justify-content: center;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 5px;
  border-radius: 8px;
  opacity: 85%;
  padding: 35px;
}

.about-container > h1 {
  opacity: 100%;
}

.submit-btn {
  display: inline-block;
  background: green;
}

.submit-btn:hover {
  background-color: darkgreen;
}

.contact-container form {
  width: 100%;
}

.contact-container > form > input, textarea {
  opacity: 85%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: white;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

#msg {
  color: greenyellow;
  margin-top: -5px;
  display: block;
  font-weight: bold;
}



/* Mobile */

@media (max-width: 430px) {
  button {
    width: 179px;
    font-size: 17px;
    font-color: #000000;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .about-container {
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 350px;
  }
  .contact-container form {
    width: 95%;
    margin-left: 10px;
  }
  .submit-btn {
    margin-top: 75px;
    padding: 20px;
    border-radius: 20px;
  }
  #count {
    padding-left: 335px;
  }
}


@media only screen and (min-width: 0em) {
  :root {
    --primary: #7F170E;
    --primaryAccessible: #F4ABA4;
    --primaryDark: #805d0d;
    --body: #FFFBF2;
    --bodyText: #282828;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 85%;
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--bodyText);
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background: var(--body);
  }
  .container {
    position: relative;
    width: 96%;
    margin: auto;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}
@media only screen and (min-width: 48em) {
  body,
  html {
    font-size: 100%;
  }
}
/* Reset Margins */
@media only screen and (min-width: 64em) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
/* Scale full website with the viewport width 2000px */
@media only screen and (min-width: 125em) {
  body,
  html {
    font-size: .85vw;
  }
}

/*-- -------------------------- -->
<---         Navigation         -->
<--- -------------------------- -*/
/* Mobile - Top Drop Down 1023px */
@media only screen and (max-width: 63.9375em) {
  body.scroll #navigation .background-color-div {
    height: 100%;
    background: #fff;
  }
  body.scroll #navigation .logo .light {
    display: none;
  }
  body.scroll #navigation .logo .dark {
    display: block;
  }
  body.scroll #navigation .hamburger-menu span {
    background-color: #000;
  }
  body.scroll #navigation .hamburger-menu span:before,
  body.scroll #navigation .hamburger-menu span:after {
    background-color: #000;
  }
  body.scroll #dark-mode-toggle .moon path {
    fill: #000;
  }
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: auto;
    font-size: 16px;
  }
  #navigation.clicked .background-color-div {
    height: 100%;
  }
  #navigation.clicked .logo .light {
    display: none;
  }
  #navigation.clicked .logo .dark {
    display: block;
  }
  #navigation .background-color-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-transition: height .3s;
    transition: height .3s;
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #navigation .container {
    padding: 0.3125em 0;
    width: 96%;
    height: 75px;
  }
  #navigation .logo {
    display: inline-block;
    height: 2.5em;
    width: auto;
  }
  #navigation .logo svg {
    width: auto;
    height: 150%;
    margin-top: 10px;
    margin-left: 10px;
  }
  #navigation .logo .light {
    display: block;
  }
  #navigation .logo .dark {
    display: none;
  }
  #navigation .hamburger-menu {
    position: absolute;
    right: 0em;
    border: none;
    height: 3em;
    width: 3em;
    z-index: 100;
    display: block;
    background: transparent;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  #navigation .hamburger-menu span {
    height: 2px;
    width: 1.875em;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  #navigation .hamburger-menu span:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #fff;
    opacity: 1;
    top: -6px;
    left: 0;
    -webkit-transition: width .3s, left .3s, top .3s, -webkit-transform .5s;
    transition: width .3s, left .3s, top .3s, -webkit-transform .5s;
    transition: width .3s, left .3s, top .3s, transform .5s;
    transition: width .3s, left .3s, top .3s, transform .5s, -webkit-transform .5s;
  }
  #navigation .hamburger-menu span:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #fff;
    opacity: 1;
    top: 6px;
    left: 0;
    -webkit-transition: width .3s, left .3s, top .3s, -webkit-transform .3s;
    transition: width .3s, left .3s, top .3s, -webkit-transform .3s;
    transition: width .3s, left .3s, top .3s, transform .3s;
    transition: width .3s, left .3s, top .3s, transform .3s, -webkit-transform .3s;
  }
  #navigation .hamburger-menu.clicked span {
    background-color: transparent !important;
  }
  #navigation .hamburger-menu.clicked span:before {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
    left: 50%;
    top: 50%;
    background-color: #000;
  }
  #navigation .hamburger-menu.clicked span:after {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            transform: translate(-50%, -50%) rotate(-225deg);
    left: 50%;
    top: 50%;
    background-color: #000;
  }
  #navigation #navbar-menu {
    position: fixed;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    top: 0em;
    padding-top: 0;
    height: 0;
    -webkit-transition: height 0.3s, padding-top 0.3s, top 0.3s;
    transition: height 0.3s, padding-top 0.3s, top 0.3s;
  }
  #navigation #navbar-menu ul {
    padding: 0;
    -webkit-perspective: 700px;
            perspective: 700px;
  }
  #navigation #navbar-menu ul li {
    list-style: none;
    margin-bottom: 1.5em;
    text-align: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    opacity: 0;
    -webkit-transform: translateY(-0.4375em) rotateX(90deg);
            transform: translateY(-0.4375em) rotateX(90deg);
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s;
  }
  #navigation #navbar-menu ul li:nth-of-type(1) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  #navigation #navbar-menu ul li:nth-of-type(2) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  #navigation #navbar-menu ul li:nth-of-type(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #navigation #navbar-menu ul li:nth-of-type(4) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  #navigation #navbar-menu ul li:nth-of-type(5) {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  #navigation #navbar-menu ul li:nth-of-type(6) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #navigation #navbar-menu ul li:nth-of-type(7) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    line-height: 1.2em;
    font-size: 0.9375em;
    text-align: center;
    display: inline-block;
    position: relative;
    font-weight: bold;
  }
  #navigation #navbar-menu ul li a.active:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.33333333em;
    left: -0.4em;
    right: -0.4em;
    z-index: -1;
  }
  #navigation #navbar-menu.open {
    height: 17.5em;
    padding-top: 5.625em;
    z-index: -100;
  }
  #navigation #navbar-menu.open ul li {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}
/* Desktop 1024px */
@media only screen and (min-width: 64em) {
  body.scroll #navigation .background-color-div {
    height: 100%;
    background: var(--body);
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  body.scroll #navigation .logo .light {
    display: none;
  }
  body.scroll #navigation .logo .dark {
    display: block;
  }
  body.scroll #navigation #navbar-menu ul li a {
    color: #1a1a1a;
  }
  body.scroll #navigation #navbar-menu ul li a:hover:before,
  body.scroll #navigation #navbar-menu ul li a.active:before {
    background: var(--primary);
  }
  body.scroll #dark-mode-toggle svg path {
    fill: #000;
  }
  body.dark-mode #navigation .background-color-div {
    height: 100%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #navigation {
    width: 100%;
    height: 6.25em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: inherit;
  }
  #navigation .background-color-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 0;
    -webkit-transition: height .3s;
    transition: height .3s;
  }
  #navigation .container {
    max-width: 88.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation .logo {
    margin-right: auto;
    height: 5em;
    width: auto;
  }
  #navigation .logo svg {
    width: auto;
    height: 100%;
  }
  #navigation #navbar-menu {
    font-size: min(1.2vw, 1em);
  }
  #navigation #navbar-menu ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation #navbar-menu ul li {
    list-style: none;
    margin-left: 2.5em;
    padding-top: 0.1875em;
    font-size: 1em;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9375em;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  #navigation #navbar-menu ul li a:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    background: #fff;
    opacity: 1;
    bottom: -0.33333333em;
    z-index: -1;
    left: 0;
    width: 0%;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  #navigation #navbar-menu ul li a:hover:before {
    width: 100%;
  }
  #navigation #navbar-menu ul li a.active:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2em;
    background: #fff;
    opacity: 1;
    bottom: -0.33333333em;
    left: 0em;
    right: -0.4em;
    z-index: -1;
    -webkit-transition: bottom .3s;
    transition: bottom .3s;
  }
  #navigation .hamburger-menu {
    display: none;
  }
}
/* Desktop 1500px */
@media only screen and (min-width: 93.75em) {
  #navigation #navbar-menu ul li {
    margin-left: 5em;
  }
}
/* Dark Mode Mobile 1023px */
@media only screen and (max-width: 63.9375em) {
  body.dark-mode #navigation .background-color-div {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .hamburger-menu.clicked span {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .hamburger-menu span {
    background-color: #fff;
  }
  body.dark-mode #navigation .hamburger-menu span:before,
  body.dark-mode #navigation .hamburger-menu span:after {
    background-color: #fff;
  }
  body.dark-mode #navigation .logo .light {
    display: block;
  }
  body.dark-mode #navigation .logo .dark {
    display: none !important;
  }
  body.dark-mode #navigation #navbar-menu {
    background-color: var(--medium);
  }
  body.dark-mode #navigation #navbar-menu ul li a {
    color: #fff;
  }
  body.dark-mode #navigation #navbar-menu ul li a:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation #navbar-menu ul li a.active {
    color: var(--primaryAccessible);
  }
}
/* Dark Mode Desktop 1024px */
@media only screen and (min-width: 64em) {
  body.dark-mode.scroll #navigation #navbar-menu ul li a.active:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation .background-color-div {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .logo .light {
    display: block;
  }
  body.dark-mode #navigation .logo .dark {
    display: none !important;
  }
  body.dark-mode #navigation #navbar-menu ul li a {
    color: #fff;
  }
  body.dark-mode #navigation #navbar-menu ul li a:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation #navbar-menu ul li a.active {
    color: var(--primaryAccessible);
  }
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #footer {
    background-color: var(--bodyText);
    color: var(--body);
    padding-top: clamp(5px, 10vw, 5px);
    padding-bottom: 1.23076923em;
  }
  #footer .container {
    max-width: 88.75em;
  }

  #footer .copyright {
    margin: auto;
    display: block;
    font-size: 0.875em;
    line-height: 2em;
    text-align: center;
    max-width: 28.57142857em;
  }
  #footer .copyright {
    font-size: inherit;
  }
  #footer .copyright {
    text-decoration: none;
    display: block;
    font-size: inherit;
  }
  #footer .bottom-group .copyright a:hover {
    text-decoration: underline;
  }
}
/* Tablet 900px */
@media only screen and (min-width: 56.25em) {
  #footer .top-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 3.75em;
  }
  #footer .top-group .logo {
    margin: 0;
  }
  #footer .top-group p {
    margin: 0;
    text-align: right;
    font-size: clamp(18px, 2vw, 1.5em);
    max-width: 34.29166667em;
    width: 60%;
  }
  #footer .bottom-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    font-size: min(1.4vw, 1em);
  }
  #footer .bottom-group .copyright {
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: 0;
    margin-top: 3.5em;
  }
  #footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #footer {
    background-color: #1a1a1a;
  }
}
